h1{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.sobre, .termos-de-uso, .contato{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 25rem;
    margin-left: 25rem;
    padding: 10px;
    background-color: #bebebe;
    border: 2px solid #ccc;
}