.infos {
   background-color: #bebebe;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 22vh;           
  padding-left: 18%;      
}

.infos h1,
.infos h2 {
  text-align: left;         
}

.infos h1{
  font-size: 3rem;
}

.infos h2{
  font-size: 2dvh;
}

.QAdotar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
  justify-content: center; 
  padding: 4rem;
  max-width: 1400px;
  margin: 0 auto;
}

/* QAdotar individual */
.QAdotar {
  background-color: #bebebe;
  border: 2px solid #ccc;
  border-radius: 1rem;
  width: calc(25% - 1.5rem); /* 4 por linha com gap */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

/* Imagem do QAdotar */
.QAdotar-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Informações do QAdotar */
.QAdotar-info {
  width: 95%;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.QAdotar-info h3 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.5rem;
}

.QAdotar-info p {
  margin: 0;
  font-size: 1.1rem;
  color: #444;
}

/* Botão do QAdotar */
.QAdotar-button {
  margin-top: 1.2rem;
  color: white;
  background-color: rgb(219, 168, 0);
  border-radius: 1vh;
  padding: 0.4rem 4rem;
  margin-bottom: 0.6rem;
  border: 2px solid rgb(196, 111, 0);
  cursor: pointer;
  align-self: center;
}
