
.layout {
    margin-top: 35px;
    margin-bottom: -20px;
}

.createAccount-box {
  background-color: #f3f4f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.createAccount-box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 2rem;
  text-align: center;
}

.box {
  background-color: #9c9d9f;
  padding: 3rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 64rem;
}

.createAccount-box input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s;
  background-color: white;
}

.createAccount-box input:focus {
  border-color: #fac746;
  box-shadow: 0 0 0 2px rgba(253, 199, 74, 0.3);
}

.createAccount-box label {
  display: block;
  color: #374151;
  margin-bottom: 0.5rem;
}

.createAccount-box button {
  width: 100%;
  background-color: #facc15;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.createAccount-box button:hover {
  background-color: #eab308;
}

.accountType-box {
  background-color: #d1d5db;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28rem;
}

.accountType-box h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 1.5rem;
  text-align: center;
}

.account-btn {
  width: 100%;
  background-color: white;
  color: #1f2937;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-btn:hover {
  background-color: #f3f4f6;
}

.backToLogin {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.back-btn {
  background: none;
  border: none;
  color: #eab308;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.back-btn:hover {
  text-decoration: none;
}
