.sobre, .termos-de-uso, .contato{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 25rem;
    margin-left: 25rem;
    padding: 10px;
    background-color: #bebebe;
    border: 2px solid #ccc;
}

.footer {
    background-color: #a0a0a0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 2vh;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.footer a {
    padding: 10px 20px;
    border-radius: 8px;
    color: inherit;
    transition: background-color 0.3s ease;
}

.footer a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-title {
    font-weight: bold;
    font-size: 1.4rem;
}