/* ====== Header ======= */
.nav {
    background-color: #a1a1a1;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    font-size: 2.5vh;
}

.nav-left,
.nav-center
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nome-site {
    font-size: 3rem;
    font-weight: bold;
    color: inherit;
}

/* Centralizar os elementos no meio da navbar */
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo dos links */
.nav-center a, button {
    padding: 10px 20px;
    border-radius: 8px;
    color: inherit;
    transition: background-color 0.3s ease;
}

.nav-center a:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.3); /* camada clara e transparente */
}

.chat-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

/* Bot천es personalizados */

/* Bot찾o Quero Adotar */
.Qadotar {
    margin-left: 4rem;
    background-color: #e5a000;
    border: 2px solid rgb(196, 111, 0);    
}

.Qadotar:hover {
    background-color: #ffb300;
}

/* Bot찾o Entrar */
.Entrar {
    margin-left: 2rem;
    background-color: #444;
    border: 2px solid black;
}

.Entrar:hover {
    background-color: #555;
}

/* Ambos bot천es */
.nav-right a{
    color: #fff;
    border-radius: 1vh;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease;
}

.nav-right a:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.nav-right a:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
